<<<<<<< HEAD
<h1>Activate</h1>

<form method="post" action="/students/<%=@student.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="checkbox" name="active" value="<%=@student.active%>">
  <input type="checkbox" name="active" value="<%=!@student.active%>">
  <input type="submit">
</form>

=======
<h1>Activate</h1>
>>>>>>> 5188d10ff70f1c925c6b8b4281d3a5d08683bb46
